%%%
%%% Netspire mod_iptraffic sample tariffs
%%%

{plans,
    [{"Ultimate", [
        {"Incoming HTTP", 0.3},
        {"Incoming", 0.8},
        {any, 0.9}
     ]},
     {"Daylight", [
        {"Incoming HTTP", 0.5},
        {"Incoming", 1},
        {"Local", 6},
        {any, 0.7}
     ]}]}.

{classes,
    [{"Local", "All Day", [
        [{src, [{net, {"10.10.0.0", "255.255.0.0"}}]},
         {dst, [{net, {"10.10.0.0", "255.255.0.0"}}]}]]},

     {"Incoming HTTP", "All Day", [
         [{src, [{net, {"0.0.0.0", "0.0.0.0"}}, {port, 80}]},
          {dst, [{net, {"10.10.0.0", "255.255.255.0"}}]},
          {proto, tcp}
         ]]},

     {"Incoming", "All Day", [
         [{src, [{net, {"0.0.0.0", "0.0.0.0"}}]},
          {dst, [{net, {"10.10.0.0", "255.255.255.0"}}]}]]},

     {"Outgoing", "All Day", [
         [{src, [{net, {"10.10.0.0", "255.255.255.0"}}]},
          {dst, [{net, {"0.0.0.0", "0.0.0.0"}}]}]]}
    ]}.

{periods,
    [{"All Day", "00:00:00-23:59:59"},
     {"Night", "22:00:00-08:00:00"},
     {"Day", "08:00:00-21:59:59"}
    ]}.
