%%%
%%% Netspire mod_iptraffic sample tariffs
%%%

{plans, [
    %% First matched class will be used
    {"Plan1", [
        {"Local traffic", "All Day", 0},
        {"Internet incomming", "Weekend", 0.01},
        {"Internet outgoing", "Weekend", 0.01},
        {"Internet incomming", "All Day", 0.05},
        {"Internet outgoing", "All Day", 0.05}
    ]},

    {"Plan2", [
        {"Local traffic", "Night", 0},
        {"Local traffic", "Day", 0.01},
        {"Internet web incomming", "Weekdays", 0.05},
        {"Internet web outgoing", "Weekdays", 0.05},
        {"Internet incomming", "All Day", 0.20},
        {"Internet outgoing", "All Day", 0.20}
    ]}
]}.

{classes, [
    {"Local traffic", [
        {src, [{net, "Local network"}]},
        {dst, [{net, "Local network"}]}
    ]},

    {"Internet incomming", [
        {src, [{net, "Internet"}]},
        {dst, [{net, "Local network"}]}
    ]},

    {"Internet outgoing", [
        {src, [{net, "Local network"}]},
        {dst, [{net, "Internet"}]}
    ]},

    {"Internet web incomming", [
        {src, [{net, "Internet"}, {port, 80}]},
        {dst, [{net, "Local network"}]},
        {proto, tcp}
    ]},

    {"Internet web outgoing", [
        {src, [{net, "Local network"}, {port, 80}]},
        {dst, [{net, "Internet"}]},
        {proto, tcp}
    ]}
]}.

{networks, [
    {"Local network", list, ["10.10.0.0/24", "192.168.1.0/24"]},
    {"Internet", list, ["0.0.0.0/0"]}
]}.

{periods, [
    {"All Day", "00:00:00-23:59:59"},
    {"Weekend", [6, 7], "00:00:00-23:59:59"},
    {"Weekdays", [1, 2, 3, 4, 5], "00:00:00-23:59:59"},
    {"Night", "22:00:00-08:00:00"},
    {"Day", "08:00:00-21:59:59"}
]}.
